<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单信息管理</title>
    <link rel="stylesheet" th:href="@{/admin/css/Site.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/zy.all.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}"/>
</head>

<style>
    #show tr td {
        text-align: center;
    }

    #tbRecord tr th {
        text-align: center;
    }

    .black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        -moz-opacity: 0.8;
        opacity: .80;
        filter: alpha(opacity=88);
    }

    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 33%;
        padding: 50px;
        border: 2px solid orange;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
</style>

<body>
<div class="dvcontent">

    <div>
        <!--tab start-->
        <div class="tabs">
            <div class="hd">
                <ul>
                    <li class="on" style="box-sizing: initial;-webkit-box-sizing: initial;">订单信息</li>
                </ul>
            </div>
            <div class="bd">
                <ul style="display: block;padding: 20px;">
                    <li>
                        <!--分页显示角色信息 start-->
                        <div id="dv1">
                            <table class="table" id="tbRecord">
                                <thead>
                                <tr>
                                    <th>订单编号</th>
                                    <th>会员编号</th>
                                    <th>场次编号</th>
                                    <th>订票数量</th>
                                    <th>订票时间</th>
                                    <th>选座</th>
                                    <th>详情</th>
                                    <th>删除</th>

                                </tr>
                                </thead>
                                <tbody id="show">

                                </tbody>

                            </table>
                        </div>
                        <div class="fiter col-md-4" style="float:left;">
                            <input type="text" name="abc" id="abc"><button id="btn_seek" onclick="btn_seek()">搜索</button>
                        </div>

                        <div class="fiter col-md-4" style="float: right">
                            <a id="which">第<span id="page">1</span>页</a>/
                            <a id="all">共<span id="pages">1</span>页</a>
                            <button id="last" class="btn btn-success" onclick="btn_last()">上一页</button>
                            <button id="next" class="btn btn-success" onclick="btn_next()">下一页</button>
                        </div>
                        <!--分页显示角色信息 end-->
                    </li>
                </ul>

                <div id="light" class="white_content">

                        <div class="am-form-group">
                            <label  class="am-u-sm-3 am-form-label">
                                订单号</label>
                            <div class="am-u-sm-9">
                                <input type="text"  required
                                       placeholder="订单编号" id="oid">
                            </div>
                        </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">
                            会员号</label>
                        <div class="am-u-sm-9">
                            <input type="text" required
                                   placeholder="会员编号" id="vid">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">
                            场次号</label>
                        <div class="am-u-sm-9">
                            <input type="text"  required
                                   placeholder="场次编号" id="sid">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">
                            订票数</label>
                        <div class="am-u-sm-9">
                            <input type="text"  required
                                   placeholder="订票数量" id="num">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">
                            订票时间</label>
                        <div class="am-u-sm-9">
                            <input type="text"  required
                                   placeholder="订票时间" id="otime">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label">
                            选座信息</label>
                        <div class="am-u-sm-9">
                            <input type="text"  required
                                   placeholder="选座信息" id="chid">
                        </div>
                    </div>

                    <a href="javascript:void(0)"
                       onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">点这里关闭本窗口</a>
                </div>
                <div id="fade" class="black_overlay"></div>

            </div>
        </div>
        </div>
        <!--tab end-->

    </div>


    <script th:src="@{/admin/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/admin/js/plugs/Jqueryplugs.js}" type="text/javascript"></script>
    <script th:src="@{/admin/js/_layout.js}"></script>
    <script th:src="@{/admin/js/plugs/jquery.SuperSlide.source.js}"></script>
    <script>
        var num = 1;
        var currPage = 1;
        var pages;
        var seek="%";
        $(function() {

            $(".tabs").slide({ trigger: "click" });
            showOrdert(currPage);
        });

        function btn_last() {
            if(currPage==1){
                return false;
            }
            $("#page").empty();
            currPage--;
            showOrdert(currPage);

            $("#page").append(currPage);
        }

        function btn_seek() {
            if($("#aaa").val()!=""){
                seek=$("#aaa").val();
            }else{
                seek="%";
            }
            showOrdert(1);
        }

        function btn_next() {
            if(currPage==pages){
                return false;
            }
            $("#page").empty();
            currPage++;
            showOrdert(currPage);

            $("#page").append(currPage);
        }
        function showOrdert(a){
            $("#show").empty();
            $.ajax({
                url:"/ordert/list",
                type:"post",
                data:{"currPage":a,"pageSize":2,"seek":seek},
                dataType:"json",
                success:function(data) {
                    for (var i = 0; i <data.length ; i++) {
                        if(data.length==0){
                            pages=1;
                        }else{
                            pages=data[0].pages;
                        }
                        $("#pages").empty();
                        $("#pages").append(pages);
                        $("#show").append("<tr>\n" +
                            "                                    <td>"+data[i].oid+"</td>\n" +
                            "                                    <td>"+data[i].vid+"</td>\n" +
                            "                                    <td>"+data[i].sid+"</td>\n" +
                            "                                    <td>"+data[i].num+"</td>\n" +
                            "                                    <td>"+data[i].otime+"</td>\n" +
                            "                                    <td>"+data[i].chid+"</td>\n" +
                            "                                    <td class=\"edit\"><button onclick=\"btn_edit("+data[i].oid+")\"><i class=\"icon-edit bigger-120\"></i>编辑</button></td>\n" +
                            "                                    <td class=\"delete\"><button onclick=\"btn_delete("+data[i].oid+")\"><i class=\"icon-trash bigger-120\"></i>删除</button></td>\n" +
                            "                                </tr>")
                    }
                }
            })
        }

        var btn_edit = function (id) {
            $("#light").css({display: "block"})
            $("#fade").css({display: "block"})
            $.ajax({
                type: "post",
                url: "/ordert/edit",
                data: {oid: id},
                success: function (data) {
                    $("#oid").val(data.oid);
                    $("#vid").val(data.vid);
                    $("#sid").val(data.sid);
                    $("#num").val(data.num);
                    $("#otime").val(data.otime);
                    $("#chid").val(data.chid);
                }
            });

        }
        var btn_delete = function(id) {
            $.jq_Confirm({
                message: "您确定要删除吗?",
                btnOkClick: function() {
                    $.ajax({
                        type: "post",
                        url: "/ordert/delete",
                        data: {oid:id },
                        success: function(data) {
                            $("#page").empty();
                            currPage--;
                            $("#page").append(currPage);
                            showOrdert(currPage);
                        }
                    });
                }
            });
        }
    </script>

</div>
</body>
</html>