<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息管理</title>

    <link rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/admin/css/Site.css}" />
    <link rel="stylesheet" th:href="@{/admin/css/zy.all.css}" />
    <link rel="stylesheet" th:href="@{/admin/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/admin/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/admin/css/admin.css}" />
    <style>
        #showVip tr td {
            text-align: center;
        }

        #tbRecord tr th {
            text-align: center;
        }

        .black_overlay {
            display: none;
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=88);
        }

        .white_content {
            display: none;
            position: absolute;
            top: 25%;
            left: 33%;
            padding: 20px;
            border: 2px solid orange;
            background-color: white;
            z-index: 1002;
            overflow: auto;
        }
    </style>
</head>
<body>
<div class="dvcontent">

    <div>
        <!--tab start-->
        <div class="tabs">
            <div class="hd">
                <ul>
                    <li class="on" style="box-sizing: initial;-webkit-box-sizing: initial;">查看用户</li>
                    <li class="" style="box-sizing: initial;-webkit-box-sizing: initial;">添加用户</li>
                </ul>
            </div>
            <div class="bd">
                <ul style="display: block;padding: 20px;">
                    <li>
                        <!--分页显示角色信息 start-->
                        <div id="dv1">
                            <table class="table" id="tbRecord">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>用户名 </th>
                                    <th>密码</th>
                                    <th>电话</th>
                                    <th>修改</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody id="showVip">

                                </tbody>
                            </table>
                        </div>

                        <div class="fiter col-md-4" style="float:left;">
                            <input type="text" name="abc" id="abc"><button id="btn_seek" onclick="btn_seek()">搜索</button>
                        </div>

                        <div class="fiter col-md-4" style="float: right">
                            <a id="which">第<span id="page">1</span>页</a>/
                            <a id="all">共<span id="pages">1</span>页</a>
                            <button id="last" class="btn btn-success" onclick="btn_last()">上一页</button>
                            <button id="next" class="btn btn-success" onclick="btn_next()">下一页</button>
                        </div>
                        <!--分页显示角色信息 end-->
                    </li>
                </ul>
                <ul class="theme-popbod dform" style="display: none;">
                    <div class="am-cf admin-main" style="padding-top: 0px;">
                        <!-- content start -->

                        <div class="am-cf admin-main" style="padding-top: 0px;">
                            <!-- content start -->
                            <div class="admin-content">
                                <div class="admin-content-body">

                                    <div class="am-g">
                                        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

                                        </div>
                                        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4"
                                             style="padding-top: 30px;">
                                            <form class="am-form am-form-horizontal"
                                                  action="/vip/add" method="post">

                                                <div class="am-form-group">
                                                    <label for="user-name" class="am-u-sm-3 am-form-label">
                                                        姓名 / Name </label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" id="user-name" required
                                                               placeholder="姓名 / Name" name="vname">
                                                    </div>
                                                </div>
                                                <div class="am-form-group">
                                                    <label for="user-name" class="am-u-sm-3 am-form-label">
                                                        密码 / Pass </label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" id="user-pass" required
                                                               placeholder="密码 / Pass" name="vpass">
                                                    </div>
                                                </div>
                                                <div class="am-form-group">
                                                    <label for="user-name" class="am-u-sm-3 am-form-label">
                                                        联系电话 / phone </label>
                                                    <div class="am-u-sm-9">
                                                        <input type="tel" id="user-phone" required
                                                               placeholder="请输入联系电话" name="tel"/>
                                                        <small>联系电话...</small>
                                                    </div>
                                                </div>
                                                <div class="am-form-group">
                                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                                        <input type="submit" class="am-btn am-btn-success"
                                                               value="添加用户"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- content end -->
                        </div>
                        <!--添加角色 end-->
                    </div>
                </ul>

                <div id="light" class="white_content">
                    <form class="am-form am-form-horizontal"
                          action="/vip/update" method="post" enctype="multipart/form-data" >

                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                会员名称</label>
                            <div class="am-u-sm-9">
                                <input type="hidden" name="vid" value="" id="vid">
                                <input type="text" id="user-name1" required
                                       placeholder="会员名称" name="vname">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                会员密码</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-pass1" required
                                       placeholder="会员密码" name="vpass">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="user-name" class="am-u-sm-3 am-form-label">
                                会员电话</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="user-tel1" required
                                       placeholder="会员电话" name="tel">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <input type="submit" class="am-btn am-btn-success"
                                       value="修改提交"/>
                            </div>
                        </div>
                    </form>
                    <a href="javascript:void(0)"
                       onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">点这里关闭本窗口</a>
                </div>
                <div id="fade" class="black_overlay"></div>

            </div>
        </div>
        <!--tab end-->
    </div>


    <script th:src="@{/admin/js/jquery-1.7.2.min.js}" type="text/javascript"></script>
    <script th:src="@{/admin/js/plugs/Jqueryplugs.js}" type="text/javascript"></script>
    <script th:src="@{/admin/js/_layout.js}"></script>
    <script th:src="@{/admin/js/plugs/jquery.SuperSlide.source.js}"></script>
    <script>
        var num = 1;
        var currPage = 1;
        var pages;
        var seek="%";
        $(function() {

            $(".tabs").slide({ trigger: "click" });
            showVip(currPage);
        });
        function btn_last() {
            if(currPage==1){
                return false;
            }
            $("#page").empty();
            currPage--;
            showVip(currPage);

            $("#page").append(currPage);
        }

        function btn_seek() {
            if($("#aaa").val()!=""){
                seek=$("#aaa").val();
            }else{
                seek="%";
            }
            showVip(1);
        }

        function btn_next() {
            if(currPage==pages){
                return false;
            }
            $("#page").empty();
            currPage++;
            showVip(currPage);

            $("#page").append(currPage);
        }

        function showVip(a){
            $("#showVip").empty();
            $.ajax({
                url:"/vip/list",
                type:"post",
                data:{"currPage":a,"pageSize":2,"seek":seek},
                dataType:"json",
                success:function(data) {
                    if(data.length==0){
                        pages=1;
                    }else{
                        pages=data[0].pages;
                    }
                    $("#pages").empty();
                    $("#pages").append(pages);
                    for (var i = 0; i <data.length ; i++) {
                        $("#showVip").append("<tr>\n" +
                            "                                    <td>"+data[i].vid+"</td>\n" +
                            "                                    <td>"+data[i].vname+"</td>\n" +
                            "                                    <td>"+data[i].vpass+"</td>\n" +
                            "                                    <td>"+data[i].tel+"</td>\n" +
                            "                                    <td class=\"edit\"><button onclick=\"btn_edit("+data[i].vid+")\"><i class=\"icon-edit bigger-120\"></i>编辑</button></td>\n" +
                            "                                    <td class=\"delete\"><button onclick=\"btn_delete("+data[i].vid+")\"><i class=\"icon-trash bigger-120\"></i>删除</button></td>\n" +
                            "                                </tr>")
                    }
                }
            })
        }

        var btn_edit = function (id) {
            $("#light").css({display: "block"})
            $("#fade").css({display: "block"})
            $.ajax({
                type: "post",
                url: "/vip/edit",
                data: {"vid": id},
                success: function (data) {
                    $("#vid").val(data.vid);
                    $("#user-name1").val(data.vname);
                    $("#user-pass1").val(data.vpass);
                    $("#user-tel1").val(data.tel);
                }
            });
        }
        var btn_delete = function(id) {
            $.jq_Confirm({
                message: "您确定要删除吗?",
                btnOkClick: function() {
                    $.ajax({
                        type: "post",
                        url: "/vip/delete",
                        data: {"vid":id },
                        success: function(data) {
                            $("#page").empty();
                            currPage--;
                            $("#page").append(currPage);
                            showVip(currPage);
                        }
                    });
                }
            });
        }
    </script>
</div>
</body>
</html>