<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.film.mapper.ChooseMapper" >
  <resultMap id="BaseResultMap" type="com.film.pojo.Choose" >
    <id column="CHID" property="chid" jdbcType="DECIMAL" />
    <result column="SID" property="sid" jdbcType="DECIMAL" />
    <result column="SEAT" property="seat" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from CHOOSE
    where CHID = #{chid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.film.pojo.Choose" >
    insert into CHOOSE (CHID, SID, SEAT ,STATE
      )
    values (#{chid,jdbcType=DECIMAL}, #{sid,jdbcType=DECIMAL}, #{seat,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.film.pojo.Choose" >
    update CHOOSE
    set SID = #{sid,jdbcType=DECIMAL},
      SEAT = #{seat,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR}
    where CHID = #{chid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select CHID, SID, SEAT
    from CHOOSE
    where CHID = #{chid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select CHID, SID, SEAT ,STATE
    from CHOOSE
  </select>
</mapper>