<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.film.mapper.MovieMapper" >
  <resultMap id="BaseResultMap" type="com.film.pojo.Movie" >
    <id column="MID" property="mid" jdbcType="DECIMAL" />
    <result column="MNAMEC" property="mnamec" jdbcType="VARCHAR" />
    <result column="MNAMEE" property="mnamee" jdbcType="VARCHAR" />
    <result column="MSORT" property="msort" jdbcType="VARCHAR" />
    <result column="MLENG" property="mleng" jdbcType="VARCHAR" />
    <result column="UPTIME" property="uptime" jdbcType="VARCHAR" />
    <result column="DETAILS" property="details" jdbcType="VARCHAR" />
    <result column="PHOTO" property="photo" jdbcType="VARCHAR" />
    <result column="VIDEOPATH" property="videopath" jdbcType="VARCHAR" />
    <collection property="actorList" ofType="Actor">
      <id column="acid" property="acid"></id>
      <result column="acname" property="acname"></result>
      <result column="acphoto" property="acphoto"></result>
      <result column="acsort" property="acsort"></result>
    </collection>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from MOVIE
    where MID = #{mid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.film.pojo.Movie" useGeneratedKeys="true" keyProperty="mid">
    <selectKey keyProperty="mid" order="BEFORE" resultType="Long">
      SELECT MOVIE_SEQ.nextval FROM DUAL
    </selectKey>
    insert into MOVIE (MID, MNAMEC, MNAMEE, 
      MSORT, MLENG, UPTIME, 
      DETAILS, PHOTO,VIDEOPATH)
    values (#{mid,jdbcType=DECIMAL}, #{mnamec,jdbcType=VARCHAR}, #{mnamee,jdbcType=VARCHAR}, 
      #{msort,jdbcType=VARCHAR}, #{mleng,jdbcType=VARCHAR}, #{uptime,jdbcType=VARCHAR}, 
      #{details,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{videopath,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.film.pojo.Movie" >
    update MOVIE
    set MNAMEC = #{mnamec,jdbcType=VARCHAR},
      MNAMEE = #{mnamee,jdbcType=VARCHAR},
      MSORT = #{msort,jdbcType=VARCHAR},
      MLENG = #{mleng,jdbcType=VARCHAR},
      UPTIME = #{uptime,jdbcType=VARCHAR},
      DETAILS = #{details,jdbcType=VARCHAR},
      PHOTO = #{photo,jdbcType=VARCHAR},
      VIDEOPATH = #{videopath,jdbcType=VARCHAR}
    where MID = #{mid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select MID, MNAMEC, MNAMEE, MSORT, MLENG, UPTIME, DETAILS, PHOTO, VIDEOPATH
    from MOVIE
    where MID = #{mid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll"  resultMap="BaseResultMap" >
    SELECT  * from MOVIE
  </select>
  <select id="selectmAll"  resultMap="BaseResultMap" parameterType="int">
  select m.* from movie m,movie_actor ma where ma.mid=m.mid and ma.acid=#{acid}
  </select>
  <select id="selectmmAll"  resultMap="BaseResultMap" parameterType="String">
    select * from movie WHERE MNAMEC like '%'||#{seek}||'%' or MOVIE.MNAMEE like '%'||#{seek}||'%' or MOVIE.MID like '%'||#{seek}||'%' or MOVIE.MSORT like '%'||#{seek}||'%'
  </select>
</mapper>