<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.film.mapper.ScreenMapper">
    <resultMap id="BaseResultMap" type="com.film.pojo.Screen">
        <id column="SID" property="sid" jdbcType="DECIMAL"/>
        <result column="CID" property="cid" jdbcType="DECIMAL"/>
        <result column="MID" property="mid" jdbcType="DECIMAL"/>
        <result column="VIID" property="viid" jdbcType="DECIMAL"/>
        <result column="STIME" property="stime" jdbcType="VARCHAR"/>
        <result column="ETIME" property="etime" jdbcType="VARCHAR"/>
        <result column="SPRICE" property="sprice" jdbcType="DECIMAL"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from SCREEN
    where SID = #{sid,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="com.film.pojo.Screen">
        <selectKey keyProperty="sid" order="BEFORE" resultType="Long">
            SELECT SCREEN_SEQ.nextval FROM DUAL
        </selectKey>
        insert into SCREEN (SID, CID, MID,
        VIID, STIME, ETIME,
        SPRICE)
        values (#{sid,jdbcType=DECIMAL}, #{cid,jdbcType=DECIMAL}, #{mid,jdbcType=DECIMAL},
        #{viid,jdbcType=DECIMAL}, #{stime,jdbcType=VARCHAR}, #{etime,jdbcType=VARCHAR},
        #{sprice,jdbcType=DECIMAL})
    </insert>
    <update id="updateByPrimaryKey" parameterType="com.film.pojo.Screen">
    update SCREEN
    set CID = #{cid,jdbcType=DECIMAL},
      MID = #{mid,jdbcType=DECIMAL},
      VIID = #{viid,jdbcType=DECIMAL},
      STIME = #{stime,jdbcType=VARCHAR},
      ETIME = #{etime,jdbcType=VARCHAR},
      SPRICE = #{sprice,jdbcType=DECIMAL}
    where SID = #{sid,jdbcType=DECIMAL}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select SID, CID, MID, VIID, STIME, ETIME, SPRICE
    from SCREEN
    where SID = #{sid,jdbcType=DECIMAL}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select SID, CID, MID, VIID, STIME, ETIME, SPRICE
    from SCREEN  where SID like '%'||#{seek}||'%' or CID like '%'||#{seek}||'%'
  </select>

    <select id="listmm" resultMap="BaseResultMap" parameterType="Screen">
        select SID, CID, MID, VIID, STIME, ETIME, SPRICE
        from SCREEN
        <where>
            <if test="mid!=null">
                and mid=#{mid}
            </if>
            <if test="cid!=null">
                and cid=#{cid}
            </if>
        </where>

    </select>

</mapper>