<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.film.mapper.VipMapper" >
  <resultMap id="BaseResultMap" type="com.film.pojo.Vip" >
    <id column="VID" property="vid" jdbcType="DECIMAL" />
    <result column="VNAME" property="vname" jdbcType="VARCHAR" />
    <result column="VPASS" property="vpass" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from VIP
    where VID = #{vid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.film.pojo.Vip" >
    <selectKey keyProperty="vid" order="BEFORE" resultType="Long">
      SELECT VIP_SEQ.nextval FROM DUAL
    </selectKey>
    insert into VIP (VID, VNAME, VPASS, 
      TEL)
    values (#{vid,jdbcType=DECIMAL}, #{vname,jdbcType=VARCHAR}, #{vpass,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.film.pojo.Vip" >
    update VIP
    set VNAME = #{vname,jdbcType=VARCHAR},
      VPASS = #{vpass,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR}
    where VID = #{vid,jdbcType=DECIMAL}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select VID, VNAME, VPASS, TEL
    from VIP
    where VID = #{vid,jdbcType=DECIMAL}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select VID, VNAME, VPASS, TEL
    from VIP
  </select>

  <select id="selectByOther" resultMap="BaseResultMap" parameterType="string" >
    select VID, VNAME, VPASS, TEL from VIP where VID like '%'||#{seek}||'%' or VNAME like '%'||#{seek}||'%'
  </select>
</mapper>