<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/user/css/index.css}">
    <link rel="stylesheet" th:href="@{/user/css/clear.css}">
    <title>首页</title>
    <link rel="icon" th:href="@{/user/images/title-lolg.png}">

</head>

<body>
<header>
    <div class="header-body">
        <a href="index.html" class="logo">猫眼电影</a>
        <div class="city">成都
            <span class="caret"></span>
        </div>
        <div class="city-list">
            <div class="now-city">
                定位城市: 定位失败
            </div>
            <div class="citys">
                <span class="icon"></span> 定位失败
            </div>
        </div>
        <div class="nav">
            <ul class="nav-list">
                <li><a href="index.html" class="nav-model active">首页</a></li>
                <li><a href="movies.html" class="nav-model">电影</a></li>
                <li><a href="cinemas.html" class="nav-model">影院</a></li>
                <li class="nav-model" onclick="alert('未开发')">演出</li>
                <li class="nav-model" onclick="alert('未开发')">榜单</li>
                <li class="nav-model" onclick="alert('未开发')">热点</li>
                <li class="nav-model" onclick="alert('未开发')">商城</li>
            </ul>
        </div>
        <div class="app-download">
            <a href="#">
                <span class="phone"></span> APP下载
                <span class="caret"></span>

                <div class="appcode">
                    <img src="images/phonecode.png" class="app-code"></img>
                    <p class="down-tip">扫码下载APP</p>
                    <p class="down-text">选座更优惠</p>
                </div>
            </a>
        </div>
        <div class="search">
            <div type="text" class="searchinput">
                <input type="text" class="input" placeholder="找影视剧、影人、影院">
                <input class="submit" type="submit" value="">
            </div>
        </div>
        <div class="userimg">
            <img src="images/user.png" alt="">
            <span class="caret"></span>
        </div>
        <div class="userlogin">
            <a href="login.html" class=" notlogin">登录</a>
            <div class="islogin nologin">
                <a href="personal.html">个人中心</a>
                <a href="index.html">退出</a>
            </div>
        </div>
    </div>
</header>
<!-- 轮播图 -->
<div class="wrap" id="wrap">
    <ul class="content"></ul>
    <a href="javascript:;" class="prev">&#60;</a>
    <a href="javascript:;" class="next">&#62;</a>
</div>
<!-- 页面主体 -->
<div class="container">
    <div class="main">
        <!-- 正在热映 -->
        <div class="hot-movie">
            <div style="display: flex;justify-content: space-between;">
                <h2>正在热映（<span id="fire"></span>部）</h2>
                <a href="#" style="color: #ff0000;font-size: 16px;    margin-top: 10px;">
                    <span>全部></span>
                </a>
            </div>
            <div class="movies" id="hotmovies">
            </div>
        </div>
        <!-- 即将上映 -->
        <div class="movie-box">
            <div class="movie-header">
                <h2>即将上映（<span id="future"></span>部）</h2>
                <a href="#">
                    <span>全部></span>
                </a>
            </div>
            <div class="movies" id="future_show">

            </div>
        </div>
        <!-- 热播电影 -->
        <div class="movie-box">
            <div class="movie-header c hotmovie ">
                <h2>热播电影（<span id="firemovie"></span>部）</h2>
                <a href="#">
                    <span>全部></span>
                </a>
            </div>
            <div class="movies movies-hot" id="firemovie_show">

            </div>
        </div>

    </div>
    <!-- 侧边栏 -->
    <div class="aside">
        <!-- 今日票房 -->
        <div class="rank">
            <h2>今日票房</h2>
            <div class="ranklist">
                <ul class="ranks">
                    <li class=" rangk-item-first clearfix">
                        <a href="#">
                            <div class="first-item clearfix">
                                <img src="images/rank.png" alt="" srcset="">
                            </div>
                            <p class="name">爱宠大机密2</p>
                            <p class="money">0.72万</p>
                        </a>
                    </li>
                    <li class="rank-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">2</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="index-money">0.00万</span>

                        </a>
                    </li>
                    <li class="rank-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">3</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="index-money">0.00万</span>
                        </a>
                    </li>
                    <li class="rank-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index">4</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="index-money">0.00万</span>

                        </a>
                    </li>
                    <li class="rank-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index">5</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="index-money">0.00万</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 最受期待 -->
        <div class="hope">
            <h2>最受期待 <span>查看完整榜单></span></h2>
            <div class="hope-body">
                <ul class="hope-list">
                    <li class="hope-item-top1">
                        <a href="#">
                            <div class="hope-img">
                                <img src="images/hope1.png" alt="">
                            </div>
                            <div class="hope-text">
                                <p class="hope-name">姜子牙</p>
                                <p class="hope-time">上映时间：2020</p>
                                <p class="hope-num">932707人想看</p>
                            </div>

                        </a>
                    </li>
                    <li class="hope-item-top">
                        <a href="#">
                            <div class="hope-img">
                                <img src="images/hope2.png" alt="">
                            </div>
                            <p class="hope-name">哪吒重生</p>
                            <p class="hope-num">932707人想看</p>
                        </a>
                    </li>
                    <li class="hope-item-top left">
                        <a href="#">
                            <div class="hope-img">
                                <img src="images/hope3.png" alt="">
                            </div>
                            <p class="hope-name">唐人街探案3</p>
                            <p class="hope-num">932707人想看</p>
                        </a>
                    </li>
                    <li class="hope-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">4</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="hope-num">932707人想看</span>
                        </a>
                    </li>
                    <li class="hope-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">5</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="hope-num">932707人想看</span>
                        </a>
                    </li>
                    <li class="hope-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">6</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="hope-num">932707人想看</span>
                        </a>
                    </li>
                    <li class="hope-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">7</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="hope-num">932707人想看</span>
                        </a>
                    </li>
                    <li class="hope-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">8</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="hope-num">932707人想看</span>
                        </a>
                    </li>
                    <li class="hope-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">9</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="hope-num">932707人想看</span>
                        </a>
                    </li>
                    <li class="hope-item">
                        <a href="#">
                            <div class="index-box">
                                <i class="index index-hot">10</i>
                                <span>冰雪奇缘2</span>
                            </div>
                            <span class="hope-num">932707人想看</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 页面底部 -->
<div class="footer" style="visibility: visible;">
    <p class="friendly-links">
        关于猫眼 :
        <a href="#" target="_blank">关于我们</a>
        <span></span>
        <a href="#" target="_blank">管理团队</a>
        <span></span>
        <a href="#" target="_blank">投资者关系</a> &nbsp;&nbsp;&nbsp;&nbsp; 友情链接 :
        <a href="#" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
        <span></span>
        <a href="#" data-query="utm_source=wwwmaoyan">格瓦拉</a>
        <span></span>
        <a href="#" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
        <span></span>
        <a href="#" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
    </p>
    <p class="friendly-links">
        商务合作邮箱：v@maoyan.com 客服电话：10105335 违法和不良信息举报电话：4006018900
    </p>
    <p class="friendly-links">
        用户投诉邮箱：tousujubao@meituan.com 舞弊线索举报邮箱：wubijubao@maoyan.com
    </p>
    <p class="friendly-links  credentials">
        <a href="#" target="_blank">中华人民共和国增值电信业务经营许可证 京B2-20190350</a>
        <span></span>
        <a href="#" target="_blank">营业性演出许可证 京演（机构）（2019）4094号</a>
    </p>
    <p class="friendly-links  credentials">
        <a href="#" target="_blank">广播电视节目制作经营许可证 （京）字第08478号</a>
        <span></span>
        <a href="#" target="_blank">网络文化经营许可证 京网文（2019）3837-369号 </a>
    </p>
    <p class="friendly-links  credentials">
        <a href="#" target="_blank">猫眼用户服务协议 </a>
        <span></span>
        <a href="#" target="_blank">猫眼平台交易规则总则 </a>
        <span></span>
        <a href="#" target="_blank">隐私政策 </a>
    </p>
    <p class="friendly-links  credentials">
        <a href="" target="_blank">京公网安备
            11010102003232号</a>
        <span></span>
        <a href="#/" target="_blank">京ICP备16022489号</a>
    </p>
    <p>北京猫眼文化传媒有限公司</p>
    <p>
        ©<span class="my-footer-year">2020</span> 猫眼电影 maoyan.com</p>
    <div class="certificate">
        <a href="#" target="_blank">
            <img src="http://p0.meituan.net/moviemachine/e54374ccf134d1f7b2c5b075a74fca525326.png">
        </a>
        <a href="#" target="_blank">
            <img src="http://p1.meituan.net/moviemachine/805f605d5cf1b1a02a4e3a5e29df003b8376.png">
        </a>
        <a href="h#" target="_blank">
            <img src="http://p0.meituan.net/scarlett/3cd2a9b7dc179531d20d27a5fd686e783787.png">
        </a>
    </div>
</div>


<script th:src="@{/user/js/mock-min.js}"></script>
<script th:src="@{/user/js/index.js}"></script>
<script th:src="@{/user/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/user/js/index-Zhang.js}"></script>

</body>

</html>